{% if S_MAINTENANCE && S_MAINTENANCE_TIMER	%}
{% INCLUDEJS '@dmzx_maintenance/js/maintenance.js' %}
<script>
var Maintenance	= {
		time	: '{{ MAINTENANCE_TIME }}',
		lang: {
			day				: '{{ lang('MAINTENANCE_DAY') | escape('js') }}',
			days			: '{{ lang('MAINTENANCE_DAYS') | escape('js') }}',
			Hour			: '{{ lang('MAINTENANCE_HOUR') | escape('js') }}',
			Hours			: '{{ lang('MAINTENANCE_HOURS') | escape('js') }}',
			Minute			: '{{ lang('MAINTENANCE_MINUTE') | escape('js') }}',
			Minutes			: '{{ lang('MAINTENANCE_MINUTES') | escape('js') }}',
			Second			: '{{ lang('MAINTENANCE_SECOND') | escape('js') }}',
			Seconds			: '{{ lang('MAINTENANCE_SECONDS') | escape('js') }}',
		}
};
</script>
{% endif %}

